<h3>/YOUR QUESTION/</h3>

<p>
  <strong>Body:</strong>
  <%= @question.body %>
</p>

<p>
  <strong>Test_ID:</strong>
  <%= @question.test.title%>
</p>

<p>
  <%= link_to '/ Create New Answer /', new_question_answer_path(@question) %>
  <%= link_to '/ Back Test /', test_path(@question.test) %>
  <%= link_to '/ Edit Question /', edit_question_path(@question) %>
</p>

<p>-------------------------------------------------------------------------------------------</p>

<h3>/All ANSWERS/</h3>

<ol>
  <%= render @question.answers %>
</ol>

<p>-------------------------------------------------------------------------------------------</p>
