<%= form_with url: sessions_path, local: true do |form| %>

  <%= flash_message(:alert) %>

  <figure class="login">
    <p class="form-login">
      <%= form.label :email %><br>
      <%= form.text_field :email, id: :email %>
    </p>

    <p class="form-login">
      <%= form.label :password %><br>
      <%= form.password_field :password, id: :password %>
    </p>

    <p><%= form.submit 'Enter' %></p>
  </figure>
<% end %>
