<h3>YOUR ANSWER!</h3>

<p>
  <strong>Question:</strong>
  <%= @answer.question.body %>
</p>

<p>
  <strong>Answer:</strong>
  <%= @answer.body %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @answer.correct %>
</p>

<p>
  <%= link_to '/ Edit Answer /', edit_answer_path(@answer) %>
  <%= link_to '/ Back Question /', question_path(@answer.question) %>
  <%= link_to '/ Back Test /', test_path(@answer.question.test) %>
</p>
