<h3>/YOUR TEST/</h3>
<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to '| CREATE NEW QUESTION |', new_test_question_path(@test) %>
  <%= link_to '| BACK ALL TESTS |', tests_path %>
  <%= link_to '| EDIT TEST |', edit_test_path(@test) %>
</p>


<p>-------------------------------------------------------------------------------------------</p>

<h3>/All QUESTIONS/</h3>

<ol>
  <%= render @test.questions %>
</ol>

<p>-------------------------------------------------------------------------------------------</p>
