<h3>/YOUR TEST/</h3>
<p>
  <strong>Title:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Level:</strong>
  <%= @test.level %>
</p>

<p>
  <%= link_to '/ Create New Question /', new_test_question_path(@test) %>
  <%= link_to '/ Back All Tests /', tests_path %>
  <%= link_to '/ Edit Test /', edit_test_path(@test) %>
</p>


<p>-------------------------------------------------------------------------------------------</p>

<h3>/All QUESTIONS/</h3>

<ol>
  <%= render @test.questions %>
</ol>

<p>-------------------------------------------------------------------------------------------</p>
