<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user">Welcome! Email: '<b><%= current_user.email %></b>' Guru. <b>Home Page: <%= link_to 'Test Guru', root_path%></b>!</p>
      <h3 class="nav out">You will want to go out? <%= link_to '>Exit<', exit_path %><h3> <%= session[:user_id] %>
    <% end %>

    <%= flash_message %>

    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
